{% extends 'base.html' %}

{% block content %}




    <div class="container content-push1">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://avatars.mds.yandex.net/i?id=0a2fd58377fd21742d38f3fcad07f3745e9950df-3751671-images-thumbs&n=13" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://ixbt.online/live/images/original/16/95/46/2022/03/11/f0b66799cc.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/originals/04/43/67/044367f5557f52ad51b79628c16d7545.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div></div>

<div class="container content-push">
    <div class="container mt-5">

        <div class="row g-0 ">
            <div class="col-12">
                <div class="row g-3">
                        <div class="col-md-4 mb-4">
                            <div class="card border border-primary hover-effect">
                                <img src="https://avatars.mds.yandex.net/i?id=c121e95203d6c0095975ab3196b8d02854349c82-5865789-images-thumbs&n=13" class="card-img-top" alt="...">
                                <div class="card-body p-2">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card border border-primary hover-effect">
                                <img src="https://avatars.mds.yandex.net/i?id=016a3cb7856236251eefa128f428175194861da3-10715741-images-thumbs&n=13" class="card-img-top" alt="...">
                                <div class="card-body p-2">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card border border-primary hover-effect">
                                <img src="https://avatars.mds.yandex.net/i?id=cc4f1f34375a1c74892954fe41224c04be67a339-13193236-images-thumbs&n=13" class="card-img-top" alt="...">
                                <div class="card-body p-2">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card border border-primary hover-effect">
                                <img src="https://avatars.mds.yandex.net/i?id=9f63073f538a49a39e8c1b5d5f1e00b8557a1c9c-3740767-images-thumbs&n=13" class="card-img-top" alt="...">
                                <div class="card-body p-2">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="card border border-primary hover-effect">
                                <img src="https://avatars.mds.yandex.net/i?id=7aa4c6537fa5c97da8f2af3f43ddd9209aa478d9-8097642-images-thumbs&n=13" class="card-img-top" alt="...">
                                <div class="card-body p-2">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card border border-primary hover-effect">
                                <img src="https://avatars.mds.yandex.net/i?id=db3629f417016a9fe5c427a15e692c6c8b1308da-8497450-images-thumbs&n=13" class="card-img-top" alt="...">
                                <div class="card-body p-2">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card border border-primary hover-effect">
                                <img src="https://avatars.mds.yandex.net/i?id=5e311081b7188ef6d6d3ff7ae67624b2673955fd-8805584-images-thumbs&n=13" class="card-img-top" alt="...">
                                <div class="card-body p-2">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card border border-primary hover-effect">
                                <img src="https://avatars.mds.yandex.net/i?id=2f69767405220fc119e60a3e45b3858e588fed01-11254239-images-thumbs&n=13" class="card-img-top" alt="...">
                                <div class="card-body p-2">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card border border-primary hover-effect">
                                <img src="https://avatars.mds.yandex.net/i?id=a42945246d3f2d26bb84912df36687ba2a21d491-12218216-images-thumbs&n=13" class="card-img-top" alt="...">
                                <div class="card-body p-2">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card border border-primary hover-effect">
                                <img src="https://avatars.mds.yandex.net/i?id=d5b376a45ccd7d701bae237c9487c5cfe800b403-5253972-images-thumbs&n=13" class="card-img-top" alt="...">
                                <div class="card-body p-2">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}