{% extends 'base.html' %}

{% block content %}
<main>
    <div class="local-content">
      <h2>Локальный контент</h2>
      <p>Это пример локального контента, который всегда будет находиться в нижней части страницы.</p>

      <div class="local-section">
        <h3>Раздел 1</h3>
        <p>Этот раздел содержит информацию, которая всегда будет видна в нижней части страницы.</p>
      </div>

      <div class="local-section">
        <h3>Раздел 2</h3>
        <p>Другой раздел, также всегда доступен в нижней части страницы.</p>
      </div>
    </div>
  </main>

{% endblock  %}